name: Deploy

on:
    push:
        branches:
            - dev
    workflow_dispatch:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4

            - name: Install dependencies
              run: npm ci

            - name: Get UI Dev
              env:
                  DEV_GIT_TOKEN: ${{ secrets.DEV_GIT_TOKEN }}
              run: echo ${DEV_GIT_TOKEN:0:5} && npm install "https://${DEV_GIT_TOKEN}@github.com/Anywhererealestate/bspk-ui#dev"

            - name: Build project
              run: npm run build

            - name: Upload dev-ready build files
              uses: actions/upload-artifact@v4
              with:
                  name: github-pages
                  path: ./dist

    deploy:
        name: Deploy
        needs: build
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'

        permissions:
            contents: write
            pages: write
            id-token: write

        concurrency:
            group: ${{ github.workflow }}-${{ github.ref }}

        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: github-pages
                  path: ./dist

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
